streamlit
langchain-ollama
langchain-chroma
langchain
langgraph
langchain-community
langchain-core
langchain-text-splitters
langchainhub
typing-extensions
pypdf
chromadb
ollama
pygments
mdurl
markdown-it-py
rich
pysqlite3-binary